{{template "base" $}}

<div class="bg-white m-0 flex items-center justify-center min-h-screen mx-4">
    <div id="card-container" class="flex flex-col items-center transition w-full max-w-md space-y-20">
    <div class="w-full flex flex-col items-center space-y-6">
        <div class="text-xl font-bold">Score: <span id="average-score">{{.Score}}</span></div>
        <button
            class="border-4 border-grey-500 text-grey-500 font-bold py-8 px-0 rounded text-4xl w-full h-32"
        >
            <a
                href="/terms/f2b/1/front"
                hx-boost="true"
            >
                Pinyin -> Teochew
            </a>
        </button>
        <button
            hx-boost="true"
            class="border-4 border-grey-500 text-grey-500 font-bold py-8 px-0 rounded text-4xl w-full h-32"
        >
            <a
                href="/terms/b2f/1/front"
                hx-boost="true"
            >
                Teochew -> Pinyin
            </a>
        </button>
        <form method="POST" action="/terms/reset">
            <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-l"
            >
                Reset
            </button>
        </form>
        </div>
    </div>
</div>
