{{template "base" $}}

<div class="bg-white text-white m-0 flex items-center justify-center min-h-screen mx-4">
    <div id="card-container" class="flex flex-col items-center transition w-full max-w-md space-y-20">
        <p class="font-bold mb-2 text-gray-500 text-1xl cursor-pointer">
            {{.Front}}/{{.Back}}
        </p>

        <form method="POST" action="/terms/{{.Mode}}/{{.ID}}/ease" hx-boost="true" class="flex flex-col items-center mt-8 w-full">
            <div class="grid gap-2 w-full">
                <button name="ease" value="4" class="border-4 border-green-500 bg-green-100 text-green-600 font-bold py-8 px-0 rounded text-4xl w-full h-32">easy</button>
                <button name="ease" value="3" class="border-4 border-yellow-400 bg-yellow-100 text-yellow-600 font-bold py-8 px-0 rounded text-4xl w-full h-32">ok</button>
                <button name="ease" value="2" class="border-4 border-orange-500 bg-orange-100 text-orange-500 font-bold py-8 px-0 rounded text-4xl w-full h-32">hard</button>
                <button name="ease" value="1" class="border-4 border-red-600 bg-red-100 text-red-600 font-bold py-8 px-0 rounded text-4xl w-full h-32">very hard</button>
            </div>
        </form>
    </div>
</div>